# ignore workspaces
KDS_Workspace/
KMSProjects/
MATLAB/
S32DS_Workspace/
license.dat
license.lic
VF_control_S32K_Final_mbd_rtw/
slprj/
VF_control_S32K_Final.slx
VF_control_S32K_Final.slxc
S32Vision_Workspace/
